<script type="text/javascript">

	function initialize() {
		var myLatlng = new google.maps.LatLng(39.9654,-75.1425);
		var myOptions = {
			zoom: 12
			,center: myLatlng
			,mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		
		var markers = [];
		var infowindows = [];
		
<% companies.each do |company| %>
		
		<% if company.geocode_or_return %>
			markers['<%= company.name.downcase %>'] = new google.maps.Marker({
				position: new google.maps.LatLng(<%= company.latitude %>, <%= company.longitude %>)
				,map: map
			});
				
			infowindows['<%= company.name.downcase %>'] = new google.maps.InfoWindow({
				content: "<h2>" + '<%= company.name %>' + "</h2><p>" + '<%= company.address %>' + "</p>"
			}); 
			
			google.maps.event.addListener(markers['<%= company.name.downcase %>'], 'click', function() {
			  infowindows['<%= company.name.downcase %>'].open(map, markers['<%= company.name.downcase %>']);
			});
		
		<% end %>
		
<% end %>
		
	}
	
	$(function loadScript() {
		var script = document.createElement("script");
		script.type = "text/javascript";
		script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
		document.body.appendChild(script);
	
	});

</script>
