.single_record.company{:class => @company.logo.file? ? 'with_image' : 'without_image'}
  = image_tag(@company.logo.url(:medium), :class => 'logo') if @company.logo.file?
  - if @company.address.present? && @company.logo.file?
    = link_to image_tag(@company.map_url, :class => 'map'), @company.google_maps_link
  %h1= @company.name
  - if @company.address.present?
    .location= @company.address
  - if @company.description.present?
    .description= simple_format @company.description
  .links
    - if @company.url.present?
      =link_to normalize_url(@company.url), normalize_url(@company.url), :class => 'url'

  .record_actions
    = link_to 'Edit', edit_company_path(@company), :class => 'edit'
    = link_to "Delete", company_path(@company), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'

  - if @company.tags.present?
    .section.tags
      %h2 Tags
      = render :partial => 'tags/list', :object => @company.tags, :locals => {:type => :company}

  - if @company.technologies.present?
    .section.technologies
      %h2 Technologies
      = render :partial => 'tags/list', :object => @company.technologies, :locals => {:type => :company}

  - if @company.customer1.present? || @company.customer2.present? || @company.customer3.present?
    .section.customers
      %h2 Customers
      - if @company.customer1.present?
        - if @company.customer_url1.present?
          = link_to @company.customer1, @company.customer_url1
        - else
          = @company.customer1
      - if @company.customer2.present?
        - if @company.customer_url2.present?
          = link_to @company.customer2, @company.customer_url2
        - else
          = @company.customer2
      - if @company.customer3.present?
        - if @company.customer_url3.present?
          = link_to @company.customer3, @company.customer_url3
        - else
          = @company.customer3

  - if @company.revenue.present? && @company.revenue > 100000000
    .section.revenue
      %h2 Revenue
      = "$100,000,000+"
  - elsif @company.revenue.present? && @company.revenue > 50000000
    .section.revenue
      %h2 Revenue
      = "$50,000,000-$100,000,000"
  - elsif @company.revenue.present? && @company.revenue > 5000000
    .section.revenue
      %h2 Revenue
      = "$5,000,000-$50,000,000"
  - elsif @company.revenue.present? && @company.revenue > 1000000
    .section.revenue
      %h2 Revenue
      = "$1,000,000-$5,000,000"
  - elsif @company.revenue.present? && @company.revenue > 500000
    .section.revenue
      %h2 Revenue
      = "$500,000-$1,000,000"
  - elsif @company.revenue.present? && @company.revenue > 100000
    .section.revenue
      %h2 Revenue
      = "$100,000-$500,000"
  - elsif @company.revenue.present? && @company.revenue > 50000
    .section.revenue
      %h2 Revenue
      = "$50,000-$100,000"
  - elsif @company.revenue.present? && @company.revenue > 100
    .section.revenue
      %h2 Revenue
      = "$100-$50,000"
  - elsif @company.revenue.present? && @company.revenue > 0
    .section.revenue
      %h2 Revenue
      = "$0-$100"


  - if @company.number_of_employees.present? && @company.number_of_employees > 10000
    .section.number_of_employees
      %h2 Number Of Employees
      = "10,001+"
  - elsif @company.number_of_employees.present? && @company.number_of_employees > 5000
    .section.number_of_employees
      %h2 Number Of Employees
      = "5,001-10,000"
  - elsif @company.number_of_employees.present? && @company.number_of_employees > 1000
    .section.number_of_employees
      %h2 Number Of Employees
      = "1,001-5000"
  - elsif @company.number_of_employees.present? && @company.number_of_employees > 200
    .section.number_of_employees
      %h2 Number Of Employees
      = "201-1,000"
  - elsif @company.number_of_employees.present? && @company.number_of_employees > 50
    .section.number_of_employees
      %h2 Number Of Employees
      = "51-200"
  - elsif @company.number_of_employees.present? && @company.number_of_employees > 10
    .section.number_of_employees
      %h2 Number Of Employees
      = "11-50"
  - elsif @company.number_of_employees.present? && @company.number_of_employees > 0
    .section.number_of_employees
      %h2 Number Of Employees
      = "1-10"


  .section.members
    %h2 The Team
    - if current_person
      - if @company.employees.include?(current_person)
        = link_to "Leave this company", leave_company_path(@company), :class => 'leave', :method => :post
      - else
        = link_to "Join this company", join_company_path(@company), :class => 'join', :method => :post
    = render :partial => 'people/list', :object => @company.employees, :locals => {:context => :member_list}

    %script
      $(function() { $("img.logo:first").load(function(){ $("img.map:first").css('top',$(this).height() + 20)}) });
